.section-body {
    max-width: 144rem;
}

/* ------------------ */

.tags {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.tags__item {
    width: 37rem;
    height: 32rem;
    margin-top: 3.5rem;
}

.tags__item img {
    width: 35rem;
    margin: 1.5rem;
}

.background-index{
    height: 20rem;
}

.background-index .boton{
    width: 15rem;
    height: 5rem;
    margin-top: 2.5rem;

    font-size: var(--size-h3);
}