.background-index {
    background-color: var(--color4);
}

.section-body {
    max-width: 37.5rem;/* 375px */
}

.banner-index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    width: 10rem;
    height: 3rem;
    text-decoration: none;
    background-color: var(--color1);
    color: #fff;
    font-size: var(--size-parrafo);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ */

.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tags__item {
    width: 30rem;
    height: 25rem;
    background-color: var(--color3);
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.tags__item img {
    width: 28rem;
    margin-top: 1rem;
}


.tags__item p {
    width: 28rem;
    font-size: var(--size-parrafo);
    margin-top: 1.7rem;
}


.tags__item .boton {
    align-self: flex-end;
    margin-right: 1rem;
}